@charset "UTH-8";

/*---------------------------------Geral------------------------------*/
body {
  background-color: rgb(52, 50, 50);
}


/*----------------------------- Home -- Wesley ----------------------- */


/*Propaganda da Home -- Wesley --*/

.img-propaganda {
  padding: 20px;
}
.img-propaganda img {
  max-width: 60%;
  height: auto;
}
.font-figcaption{
  color: #fff;
  padding: 30px;
}
@media (max-width: 576px) {/* Estilos para telas pequenas */
  .font-figcaption {
    font-size: 1em;
  }
}
@media (min-width: 576px) and (max-width: 992px) {/* Estilos para telas médias */
  .font-figcaption {
    font-size: 1.2em;
  }
}
@media (min-width: 992px) {/* Estilos para telas grandes */
  .font-figcaption {
    font-size: 1.4em;
  }
}


/*--Home / Section 1-2-3-4 -- Wesley --*/

.cor-branca {
  background-color: rgb(207, 207, 207);
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 1199px) {/* Estilos para telas grandes */
  .cor-branca {
    background-color: transparent;
  }
}
.cor-branca img {
  max-width: 500%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home-img:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cor-gradiente {
  padding: 10px;
  font-size: 1.2em;
  color: #fff;
  text-align: left;
  padding-left: 30px;
  background-image: linear-gradient(to right, rgb(56, 56, 56), rgb(152, 152, 152));
  box-shadow: 3px 3px 6px 3px rgb(41, 41, 41);
}

.cor-e-espacamento {
  background-color: rgb(52, 50, 50);
  max-width: 1000px;
  margin: auto;
}
.cor-e-espacamento p {
  color: #bdbdbd;
  padding: 10px;
}

.cor-e-espacamento img {
  max-width: 100%;
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: bottom left;
  margin: 10px;
  color: #fff;
}

/* Home -- Links das Sections 1,2,3,4 -- Wesley --*/
/* Estilo básico do link */
.home-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  font-size: 0.2s ease-in-out;
}
/* Estilo quando o link estiver em foco */
.home-link:focus {
  outline: 2px solid #FF0000;
  outline-offset: 2px;
}
/* Estilo quando o link estiver em foco, mas não ativo (tecla de espaço pressionada) */
.home-link:focus:not(:active) {
  background-color: #201f1f;
  transition: 0.2s;
}
/* Estilo quando o link estiver em foco e ativo (tecla de espaço pressionada) */
.home-link:focus:active {
  background-color: #ffffff;
}
/* Estilo quando o link estiver sendo navegado pelo teclado */
.home-link:hover:not(:focus) {
  background-color: #201f1f;
  outline: 2px solid #FF0000;
  color: #fff;
}


/*----Series e TV ---------Wesley---------------*/

.section-pg {
  max-width: 1200px;
  margin: 0 auto;
}

.ratio {
  max-width: 560px;
  max-height: 315px;
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px 6px 1px rgba(253, 253, 253, 0.422);
}
.video-ratio {
  background-color: #b02121;
  padding: 0px 30px 0px 30px;
  margin-top: 30px;
}

.series-sec-img {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #b02121;
  overflow: hidden;
}
.sec-img img {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.sec-img:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.section-pg p {
  text-align: justify;
  font-size: 1.3em;
  margin: 0 auto;
  color: rgb(221, 221, 221);
}