@charset "UTH-8";

.home-body {
  background-color: rgb(60, 58, 58);
}

.img-propaganda {
  background-color: #ffffff; /* cor de fundo branca */
  color: #000000; /* cor do texto preta */
  padding: 20px;
}

.img-propaganda img {
  max-width: 70%;
  height: auto;
}

.img-custom {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.img-propaganda figcaption {
  font-size: 1.2rem;
}

.cor-branca {
  background-color: #ffffff;
  padding: 10px;
}